.App {
  height: 100vh;
  text-align: center;
  background-image: url('./assets/typeclose.jpeg');
  background-position: center;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + .5vmin);
  color: #61dafb;
  opacity: .8;
}

#hero {
  height: 200px;
  min-width: 100px;
  max-width: 90vw;
  margin: 100px auto;
  background-color: #282c34;
  border-radius: 5px;
  opacity: .9;
}

.UC {
  color: white;
}

@media only screen and (min-width: 650px) {
  #hero {
    max-width: 60vh;
    margin: 100px 100px;
  }
}

/* #content {
  height: 100vh;
  width: 100vw;
  background-color: #282c34
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
